*{
    margin: 0;
    box-sizing: border-box;
    font-family: "Mona sans", sans-serif;
    color: white;
}
.navbar{
    height: 60px;
    background-color: #080f25;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.web-name{
    margin-left: 20px;
    width: 70%;
    font-size: 1.2rem;
}
.navbar a{
    font-size: 1rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
}
.navbar-dashboard{
    height: 36px;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 5px;
    transition: transform 0.2s, box-shadow 0.2s;
}
.navbar-modules{
    height: 36px;
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 5px;
    transition: transform 0.2s, box-shadow 0.2s;
}
.navbar-drills{
    height: 36px;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 5px;
    transition: transform 0.2s, box-shadow 0.2s;
}
.border:hover{
    cursor: pointer;
    background-color: #7071ec;
    box-shadow: 0 0 10px white;
    transform: scale(1.05);
}
.account-details{
    height: 200px;
    width: 100%;
    background-color: #151786;
    display: flex;
    align-items: center;
    justify-content: start;
}
.profile-img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 4px solid white;
    margin-left: 50px;
}
.user-details{
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.user-details h2{
    margin-bottom: 10px;
}
.user-details p{
    margin: 5px 0px;
    font-weight: bold;
}
.performance-metrics{
    height: 70vh;
    width: 100%;
    background-color: #0a0f4d;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0px;
}
.box{
    min-height: 300px;
    width: 30%;
    background-color: #151786;
    padding: 20px 0px 15px;
    margin: 15px 0px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
    border-radius: 10px;
    transition: transform 0.2s, box-shadow 0.2s;
}
.box:hover{
    box-shadow: 0px 0px 50px rgb(222, 126, 229);
    animation: glow 1.5s infinite alternate;
    transform: scale(1.01);
}
@keyframes glow {
    0% {
        box-shadow: 0 0 30px rgb(222, 126, 229);
    }
    100% {
        box-shadow: 0 0 70px rgb(225, 113, 233);
    }
}
.box h3{
    margin-left: 50px;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
}
.box p{
    margin-left: 50px;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}
.progress{
    margin-left: 50px;
    width: 80%;
    height: 15px;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 1rem;
}
.progress::after{
    content: '';
    display: block;
    width: 30%; /* Example progress percentage */
    height: 100%;
    background-color: #7071ec;
    border-radius: 10px;
}